@font-face {
  font-family: 'robotolight';
  src: url('roboto-light-webfont.eot');
  src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-light-webfont.woff2') format('woff2'), url('roboto-light-webfont.woff') format('woff'), url('roboto-light-webfont.ttf') format('truetype'), url('roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('roboto-regular-webfont.eot');
  src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('roboto-regular-webfont.woff2') format('woff2'), url('roboto-regular-webfont.woff') format('woff'), url('roboto-regular-webfont.ttf') format('truetype'), url('roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?980vsg');
  src: url('icomoon.eot?980vsg#iefix') format('embedded-opentype'), url('icomoon.ttf?980vsg') format('truetype'), url('icomoon.woff?980vsg') format('woff'), url('icomoon.svg?980vsg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /*My style*/
  color: black;
  font-size: 35px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrows_plus:before {
  content: "\e900";
}
.icon-arrows_question:before {
  content: "\e901";
}
.icon-arrows_right_double-31:before {
  content: "\e902";
}
.icon-arrows_rotate_anti_dashed:before {
  content: "\e903";
}
.icon-arrows_shrink_diagonal1:before {
  content: "\e904";
}
.icon-arrows_sign_right:before {
  content: "\e905";
}
.icon-arrows_slide_right1:before {
  content: "\e906";
}
.icon-arrows_square_left:before {
  content: "\e907";
}
.input-style input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 206px;
  border-radius: 5px;
}
.nav-link-style a {
  text-decoration: none;
  color: #ffffff;
  padding: 40px;
}
.nav-link-style a:hover {
  text-decoration: none;
  color: #ffffff;
}
body {
  font-family: 'robotolight';
}
header {
  font-family: 'robotoregular';
}
header img {
  margin-top: 119px;
  width: 120%;
}
aside {
  float: right;
  margin-top: 25px;
}
aside ul li {
  font-weight: bold;
  list-style-type: none;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  margin-left: -38px;
  margin-top: 12px;
  margin-bottom: 18px;
}
aside span {
  background: #808080;
  display: block;
  margin-top: 16px;
  padding: 7px;
  color: white;
  font-weight: bold;
}
section h1 {
  color: #ff0000;
}
h3 {
  color: #ffffff;
}
figcaption {
  text-align: center;
}
ul li {
  list-style-type: none;
}
input[type=search] {
  border-color: red;
  width: 200px;
}
#author {
  color: green;
}
#search {
  color: red;
  border-color: red;
}
.nav-icons {
  float: right;
}
.top-nav {
  padding: 20px;
  background: -webkit-linear-gradient(white, gray);
  /* For Safari 5.1 to 6.0 */
}
.top-nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 40px;
}
.top-nav a:hover {
  text-decoration: none;
  color: #ffffff;
}
.banner-box {
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 20px;
}
.banner-box .banner {
  background-image: url("Images/banner.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
}
.resources {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: -webkit-filter 2s;
}
.resources:hover {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.bottom {
  background-color: gray;
}
.form-element {
  vertical-align: baseline;
}
.figure-class {
  text-align: center;
  padding-bottom: 12px;
}
#submit {
  float: right;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  border-radius: 12px;
  font-size: 15px;
  width: 97px;
  height: 35px;
  color: #ffffff;
  margin-top: 20px;
}
footer {
  text-align: center;
}
footer p {
  padding: 15px;
}
footer a {
  color: #333;
}
figure {
  display: inline-block;
}
form {
  width: 300px;
}
form label {
  display: inline-block;
  vertical-align: baseline;
  width: 50px;
  font-weight: normal;
}
form input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 206px;
  border-radius: 5px;
}
